<div class="form-group text-left" data-coordinate-group="channel-item-category-item">
    <label class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <div class="col-md-12">
            <div class="form-inline">
                <div class="form-group">
                    <label>{{ '<category domain="'|e }}</label>
                    {{ form_widget(feedChannelItemCategoryForm['categoryDomain'], {'attr': {'class': 'form-control', 'placeholder': '' }}) }}
                    <label>{{ '">'|e }}</label>
                    {{ form_widget(feedChannelItemCategoryForm['categoryName'], {'attr': {'class': 'form-control', 'placeholder': '' }}) }}
                    <label>{{ '</category>'|e }}</label>
                    <button type="button" class="btn btn-primary" data-btn-remove-channel-item-category><i
                                class="glyphicon glyphicon-remove"></i></button>
                    {{ form_widget(feedChannelItemCategoryForm['categoryId']) }}
                </div>
            </div>
        </div>
    </div>
</div>